name: Java CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v3

    - name: Configurar JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Verificar estrutura de diretórios
      run: ls -R

    - name: Compilar projeto com Maven
      run: mvn -B compile
      working-directory: ./

    - name: Rodar testes com Maven
      run: mvn -B test
      working-directory: ./
